*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: url( ./images/boliviainteligente-875IJwLJa9c-unsplash.jpg);
   background-size: cover;

}
.box{
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 10s linear infinite;
}
@keyframes animate  {
    50% {
  transform: perspective(1000px) rotateY(90deg);
    }
    100% {
  transform: perspective(1000px) rotateY(360deg);

    }

}
.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 45deg)) translate(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004) ;
}
.box span img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 2px white solid;
}
.copy{
    display: flex;
    justify-content: center;
    margin-top: 600px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.copy:hover{
    color: rgb(40, 236, 193);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (mix-width :375px) {
    
    .box span{
        width: 40%;
        height: 40%;
    }

.copy{
    display: flex;
    margin-bottom: 0px;
    margin-top: 800px;
    color: rgb(255, 255, 255);
}

    
}